body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../编辑公司资料_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:27px;
    top:31px;
    width:800px;
    height:636px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:642px;
}

.u1 {
    position:absolute;
    left:2px;
    top:310px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../编辑公司资料_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:28px;
    top:32px;
    width:798px;
    height:97px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:804px;
    height:103px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:794px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:42px;
    top:46px;
    width:288px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:779px;
    top:48px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:683px;
    top:45px;
    width:79px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:765px;
    top:43px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:164px;
    top:84px;
    width:124px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:34px;
    top:84px;
    width:124px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:297px;
    top:84px;
    width:124px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:174px;
    top:156px;
    width:346px;
    height:34px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:98px;
    top:166px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../编辑公司资料_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:174px;
    top:202px;
    width:346px;
    height:105px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:111px;
}

.u15 {
    position:absolute;
    left:2px;
    top:44px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:98px;
    top:247px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:174px;
    top:318px;
    width:346px;
    height:34px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:100px;
    top:328px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u20_container {
    position:absolute;
    left:174px;
    top:362px;
    width:346px;
    height:34px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u21 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:100px;
    top:373px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:174px;
    top:405px;
    width:346px;
    height:34px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u24 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:100px;
    top:418px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u26_container {
    position:absolute;
    left:174px;
    top:448px;
    width:346px;
    height:34px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u27 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:100px;
    top:458px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../编辑公司资料_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:174px;
    top:491px;
    width:346px;
    height:34px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:40px;
}

.u30 {
    position:absolute;
    left:2px;
    top:9px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:100px;
    top:501px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:372px;
    top:548px;
    width:110px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_normal {
    background-image: url('../编辑公司资料_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:620px;
    top:156px;
    width:142px;
    height:142px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:148px;
}

.u34 {
    position:absolute;
    left:2px;
    top:63px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:641px;
    top:318px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u36 {
    position:absolute;
    left:162px;
    top:113px;
    width:504px;
    height:414px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:504px;
    height:414px;
    
}

.u37_normal {
    background-image: url('../编辑公司资料_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:22px;
    top:9px;
    width:466px;
    height:389px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:472px;
    height:395px;
}

.u38 {
    position:absolute;
    left:2px;
    top:186px;
    width:462px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../编辑公司资料_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:140px;
    top:17px;
    width:209px;
    height:305px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:305px;
}

.u40 {
    position:absolute;
    left:2px;
    top:144px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:135px;
    top:350px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:260px;
    top:350px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:845px;
    top:183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

