body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../管理界面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:27px;
    top:31px;
    width:800px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:606px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:42px;
    top:46px;
    width:238px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:597px;
    top:48px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:681px;
    top:48px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:779px;
    top:48px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:210px;
    top:48px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:518px;
    top:45px;
    width:79px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:765px;
    top:43px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:669px;
    top:44px;
    width:12px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:42px;
    top:103px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:92px;
    top:142px;
    width:651px;
    height:439px
}

.u12_normal {
    background-image: url('../管理界面_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:22px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:28px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../管理界面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:66px;
    top:0px;
    width:58px;
    height:22px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:28px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../管理界面_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:124px;
    top:0px;
    width:57px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../管理界面_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:181px;
    top:0px;
    width:58px;
    height:22px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:28px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../管理界面_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:239px;
    top:0px;
    width:59px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../管理界面_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:298px;
    top:0px;
    width:128px;
    height:22px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../管理界面_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:426px;
    top:0px;
    width:121px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:28px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../管理界面_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:547px;
    top:0px;
    width:99px;
    height:22px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:28px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../管理界面_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:22px;
    width:66px;
    height:58px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:64px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:66px;
    top:22px;
    width:58px;
    height:58px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u31 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../管理界面_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:124px;
    top:22px;
    width:57px;
    height:58px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:64px;
}

.u33 {
    position:absolute;
    left:2px;
    top:21px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:181px;
    top:22px;
    width:58px;
    height:58px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u35 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../管理界面_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:239px;
    top:22px;
    width:59px;
    height:58px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:64px;
}

.u37 {
    position:absolute;
    left:2px;
    top:21px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../管理界面_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:298px;
    top:22px;
    width:128px;
    height:58px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:64px;
}

.u39 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../管理界面_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:426px;
    top:22px;
    width:121px;
    height:58px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:64px;
}

.u41 {
    position:absolute;
    left:2px;
    top:21px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../管理界面_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:547px;
    top:22px;
    width:99px;
    height:58px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:64px;
}

.u43 {
    position:absolute;
    left:2px;
    top:13px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../管理界面_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:80px;
    width:66px;
    height:60px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:66px;
    top:80px;
    width:58px;
    height:60px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u47 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../管理界面_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:124px;
    top:80px;
    width:57px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:66px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:181px;
    top:80px;
    width:58px;
    height:60px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../管理界面_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:239px;
    top:80px;
    width:59px;
    height:60px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:66px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../管理界面_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:298px;
    top:80px;
    width:128px;
    height:60px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u55 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../管理界面_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:426px;
    top:80px;
    width:121px;
    height:60px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:66px;
}

.u57 {
    position:absolute;
    left:2px;
    top:22px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../管理界面_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:547px;
    top:80px;
    width:99px;
    height:60px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:66px;
}

.u59 {
    position:absolute;
    left:2px;
    top:14px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../管理界面_files/u44_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:140px;
    width:66px;
    height:60px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u62_container {
    position:absolute;
    left:66px;
    top:140px;
    width:58px;
    height:60px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u63 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../管理界面_files/u48_normal.png');
}

.u64_container {
    position:absolute;
    left:124px;
    top:140px;
    width:57px;
    height:60px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:66px;
}

.u65 {
    position:absolute;
    left:2px;
    top:22px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u66_container {
    position:absolute;
    left:181px;
    top:140px;
    width:58px;
    height:60px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u67 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../管理界面_files/u52_normal.png');
}

.u68_container {
    position:absolute;
    left:239px;
    top:140px;
    width:59px;
    height:60px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:66px;
}

.u69 {
    position:absolute;
    left:2px;
    top:22px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../管理界面_files/u54_normal.png');
}

.u70_container {
    position:absolute;
    left:298px;
    top:140px;
    width:128px;
    height:60px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u71 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../管理界面_files/u56_normal.png');
}

.u72_container {
    position:absolute;
    left:426px;
    top:140px;
    width:121px;
    height:60px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:66px;
}

.u73 {
    position:absolute;
    left:2px;
    top:22px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../管理界面_files/u58_normal.png');
}

.u74_container {
    position:absolute;
    left:547px;
    top:140px;
    width:99px;
    height:60px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:66px;
}

.u75 {
    position:absolute;
    left:2px;
    top:14px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../管理界面_files/u44_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:200px;
    width:66px;
    height:60px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u78_container {
    position:absolute;
    left:66px;
    top:200px;
    width:58px;
    height:60px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u79 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../管理界面_files/u48_normal.png');
}

.u80_container {
    position:absolute;
    left:124px;
    top:200px;
    width:57px;
    height:60px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:66px;
}

.u81 {
    position:absolute;
    left:2px;
    top:22px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../管理界面_files/u46_normal.png');
}

.u82_container {
    position:absolute;
    left:181px;
    top:200px;
    width:58px;
    height:60px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:66px;
}

.u83 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../管理界面_files/u52_normal.png');
}

.u84_container {
    position:absolute;
    left:239px;
    top:200px;
    width:59px;
    height:60px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:66px;
}

.u85 {
    position:absolute;
    left:2px;
    top:22px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../管理界面_files/u54_normal.png');
}

.u86_container {
    position:absolute;
    left:298px;
    top:200px;
    width:128px;
    height:60px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u87 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../管理界面_files/u56_normal.png');
}

.u88_container {
    position:absolute;
    left:426px;
    top:200px;
    width:121px;
    height:60px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:66px;
}

.u89 {
    position:absolute;
    left:2px;
    top:22px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../管理界面_files/u58_normal.png');
}

.u90_container {
    position:absolute;
    left:547px;
    top:200px;
    width:99px;
    height:60px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:66px;
}

.u91 {
    position:absolute;
    left:2px;
    top:14px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../管理界面_files/u28_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:260px;
    width:66px;
    height:58px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:64px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u94_container {
    position:absolute;
    left:66px;
    top:260px;
    width:58px;
    height:58px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u95 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../管理界面_files/u32_normal.png');
}

.u96_container {
    position:absolute;
    left:124px;
    top:260px;
    width:57px;
    height:58px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:64px;
}

.u97 {
    position:absolute;
    left:2px;
    top:21px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u98_container {
    position:absolute;
    left:181px;
    top:260px;
    width:58px;
    height:58px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u99 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../管理界面_files/u36_normal.png');
}

.u100_container {
    position:absolute;
    left:239px;
    top:260px;
    width:59px;
    height:58px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:64px;
}

.u101 {
    position:absolute;
    left:2px;
    top:21px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../管理界面_files/u38_normal.png');
}

.u102_container {
    position:absolute;
    left:298px;
    top:260px;
    width:128px;
    height:58px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:64px;
}

.u103 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../管理界面_files/u40_normal.png');
}

.u104_container {
    position:absolute;
    left:426px;
    top:260px;
    width:121px;
    height:58px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:64px;
}

.u105 {
    position:absolute;
    left:2px;
    top:21px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../管理界面_files/u42_normal.png');
}

.u106_container {
    position:absolute;
    left:547px;
    top:260px;
    width:99px;
    height:58px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:64px;
}

.u107 {
    position:absolute;
    left:2px;
    top:13px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../管理界面_files/u28_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:318px;
    width:66px;
    height:58px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:64px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u110_container {
    position:absolute;
    left:66px;
    top:318px;
    width:58px;
    height:58px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u111 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../管理界面_files/u32_normal.png');
}

.u112_container {
    position:absolute;
    left:124px;
    top:318px;
    width:57px;
    height:58px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:64px;
}

.u113 {
    position:absolute;
    left:2px;
    top:21px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u114_container {
    position:absolute;
    left:181px;
    top:318px;
    width:58px;
    height:58px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u115 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../管理界面_files/u36_normal.png');
}

.u116_container {
    position:absolute;
    left:239px;
    top:318px;
    width:59px;
    height:58px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:64px;
}

.u117 {
    position:absolute;
    left:2px;
    top:21px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../管理界面_files/u38_normal.png');
}

.u118_container {
    position:absolute;
    left:298px;
    top:318px;
    width:128px;
    height:58px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:64px;
}

.u119 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../管理界面_files/u40_normal.png');
}

.u120_container {
    position:absolute;
    left:426px;
    top:318px;
    width:121px;
    height:58px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:64px;
}

.u121 {
    position:absolute;
    left:2px;
    top:21px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../管理界面_files/u42_normal.png');
}

.u122_container {
    position:absolute;
    left:547px;
    top:318px;
    width:99px;
    height:58px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:64px;
}

.u123 {
    position:absolute;
    left:2px;
    top:13px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../管理界面_files/u28_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:376px;
    width:66px;
    height:58px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:64px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u126_container {
    position:absolute;
    left:66px;
    top:376px;
    width:58px;
    height:58px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u127 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../管理界面_files/u32_normal.png');
}

.u128_container {
    position:absolute;
    left:124px;
    top:376px;
    width:57px;
    height:58px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:64px;
}

.u129 {
    position:absolute;
    left:2px;
    top:21px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../管理界面_files/u30_normal.png');
}

.u130_container {
    position:absolute;
    left:181px;
    top:376px;
    width:58px;
    height:58px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:64px;
}

.u131 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../管理界面_files/u36_normal.png');
}

.u132_container {
    position:absolute;
    left:239px;
    top:376px;
    width:59px;
    height:58px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:64px;
}

.u133 {
    position:absolute;
    left:2px;
    top:21px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../管理界面_files/u38_normal.png');
}

.u134_container {
    position:absolute;
    left:298px;
    top:376px;
    width:128px;
    height:58px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:64px;
}

.u135 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../管理界面_files/u40_normal.png');
}

.u136_container {
    position:absolute;
    left:426px;
    top:376px;
    width:121px;
    height:58px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:64px;
}

.u137 {
    position:absolute;
    left:2px;
    top:21px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../管理界面_files/u42_normal.png');
}

.u138_container {
    position:absolute;
    left:547px;
    top:376px;
    width:99px;
    height:58px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:64px;
}

.u139 {
    position:absolute;
    left:2px;
    top:13px;
    width:95px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:99px;
    top:168px;
    width:50px;
    height:50px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u141 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u142_container {
    position:absolute;
    left:99px;
    top:227px;
    width:50px;
    height:50px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u143 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u144_container {
    position:absolute;
    left:99px;
    top:287px;
    width:50px;
    height:50px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u145 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u146_container {
    position:absolute;
    left:99px;
    top:346px;
    width:50px;
    height:50px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u147 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u148_container {
    position:absolute;
    left:99px;
    top:406px;
    width:50px;
    height:50px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u149 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u150_container {
    position:absolute;
    left:99px;
    top:464px;
    width:50px;
    height:50px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u151 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../管理界面_files/u140_normal.png');
}

.u152_container {
    position:absolute;
    left:99px;
    top:522px;
    width:50px;
    height:50px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u153 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:289px;
    top:98px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155 {
    position:absolute;
    left:168px;
    top:98px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u156 {
    position:absolute;
    left:672px;
    top:583px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u157 {
    position:absolute;
    left:38px;
    top:142px;
    width:59px;
    height:439px
}

.u158_normal {
    background-image: url('../管理界面_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:22px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:28px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../管理界面_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:22px;
    width:54px;
    height:58px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:64px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../管理界面_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:80px;
    width:54px;
    height:60px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:66px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../管理界面_files/u162_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:140px;
    width:54px;
    height:60px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:66px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../管理界面_files/u162_normal.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:200px;
    width:54px;
    height:60px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:66px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../管理界面_files/u160_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:260px;
    width:54px;
    height:58px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:64px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../管理界面_files/u160_normal.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:318px;
    width:54px;
    height:58px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:64px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../管理界面_files/u160_normal.png');
}

.u172_container {
    position:absolute;
    left:0px;
    top:376px;
    width:54px;
    height:58px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:64px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:38px;
    top:586px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u191 {
    position:absolute;
    left:159px;
    top:586px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u192 {
    position:absolute;
    left:278px;
    top:586px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u193 {
    position:absolute;
    left:738px;
    top:142px;
    width:83px;
    height:439px
}

.u194_normal {
    background-image: url('../管理界面_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:22px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:28px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../管理界面_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:0px;
    top:22px;
    width:78px;
    height:58px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:64px;
}

.u197 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../管理界面_files/u198_normal.png');
}

.u198_container {
    position:absolute;
    left:0px;
    top:80px;
    width:78px;
    height:60px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:66px;
}

.u199 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../管理界面_files/u198_normal.png');
}

.u200_container {
    position:absolute;
    left:0px;
    top:140px;
    width:78px;
    height:60px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:66px;
}

.u201 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../管理界面_files/u198_normal.png');
}

.u202_container {
    position:absolute;
    left:0px;
    top:200px;
    width:78px;
    height:60px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:66px;
}

.u203 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../管理界面_files/u196_normal.png');
}

.u204_container {
    position:absolute;
    left:0px;
    top:260px;
    width:78px;
    height:58px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:64px;
}

.u205 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../管理界面_files/u196_normal.png');
}

.u206_container {
    position:absolute;
    left:0px;
    top:318px;
    width:78px;
    height:58px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:64px;
}

.u207 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../管理界面_files/u196_normal.png');
}

.u208_container {
    position:absolute;
    left:0px;
    top:376px;
    width:78px;
    height:58px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:64px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:750px;
    top:185px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:750px;
    top:244px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:750px;
    top:306px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:750px;
    top:365px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:750px;
    top:423px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:750px;
    top:481px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:750px;
    top:539px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:636px;
    top:106px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

