<!doctype html>
<html ng-app>

<head>
    <link rel="stylesheet" type="text/css" href="../css/angular.css">
</head>

<body>
    <div ng-controller="InvoiceCntl">
        <b>Invoice:</b>
        <br>
        <br>
        <table>
            <tr>
                <td>Quantity</td>
                <td>Cost</td>
            </tr>
            <tr>
                <td>
                    <input type="integer" min="0" ng-model="qty" required>
                </td>
                <td>
                    <input type="number" ng-model="cost" required>
                </td>
            </tr>
        </table>
        <hr>
        <b>Total:</b> {{qty * cost | currency}}
    </div>
    <script src="../js/angular1.2.5.min.js"></script>
    <script src="../js/test1.js"></script>
</body>

</html>
