<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" type="text/css" href="../css/angular.css">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div ng-controller="myController">
            <input type="email" ng-model="to" placeholder="Recipient"/>
            <textarea ng-model="emailBody"></textarea>
            <pre>{{ previewText}}</pre>
        </div>
        <script src="../js/angular-1.3.0.js"></script>
        <script type="text/javascript">
            var app=angular.module('app',[]);
            app.controller('myController',function($scope,$interpolate){
                $scope.to = 'ari@aaa.co';
                $scope.emailBody = 'Hello {{ to }},\n\nMy name is Ari too!';
                $scope.$watch("emailBody",function(body){
                    if(body){
                        var template=$interpolate(body);
                        $scope.previewText=template({to:$scope.to});
                    }
                });
            });
        </script>
    </body>
</html>