* {
	margin: 0;padding: 0;
}
#container {
	width: 100%;
}
#header {
	height: 100px;background: #ccc;width: 100%;line-height: 100px;
}
#wrapper {
	float: right;
	width: 100%;
	margin-right: -30%;
}
#wrapper #content {
	margin-right: 30%;
	padding: 0 1px;
	background: silver;
}
#navigation {
	float: left;
	background: blue;
	width: 29.9%;
}
#extra {
	clear: left;
	width: 29.9%;
	background: orange;
	float: left;
}	
#footer {
	clear: both;
	width: 100%;
	background: green;
}
