* {
	margin: 0;padding: 0;
}
#container {
	width: 100%;
}
#header {
	height: 100px;background: #ccc;width: 100%;line-height: 100px;
}
#wrapper {
	float: left;
	width: 100%;
}
#wrapper #content {
	margin: 0 400px 0 0;
	padding: 0 1px;
	background: silver;
}
#navigation {
	float: left;
	background: blue;
	width: 200px;
	margin-left: -400px;
}
#extra {
	width: 200px;
	background: orange;
	float: left;
	margin-left: -200px;
}	
#footer {
	clear: both;
	width: 100%;
	background: green;
}
