* {
	margin: 0;padding: 0;
}
#container {
	width: 960px;
	margin: 0 auto;
}
#header {
	height: 100px;background: #ccc;width: 100%;line-height: 100px;
}
#wrapper {
	float: left;
	width: 100%;
}
#wrapper #content {
	padding: 0 1px;
	background: silver;
}
#navigation {
	float: left;
	background: blue;
	width: 49.9%;
}
#extra {
	width: 49.9%;
	background: orange;
	float: right;
}	
#footer {
	clear: both;
	width: 100%;
	background: green;
}
